 -----
 Introduction
 -----
 Hervé Boutemy
 -----
 2013-07-23
 -----

 ~~ Licensed to the Apache Software Foundation (ASF) under one
 ~~ or more contributor license agreements.  See the NOTICE file
 ~~ distributed with this work for additional information
 ~~ regarding copyright ownership.  The ASF licenses this file
 ~~ to you under the Apache License, Version 2.0 (the
 ~~ "License"); you may not use this file except in compliance
 ~~ with the License.  You may obtain a copy of the License at
 ~~
 ~~   http://www.apache.org/licenses/LICENSE-2.0
 ~~
 ~~ Unless required by applicable law or agreed to in writing,
 ~~ software distributed under the License is distributed on an
 ~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~~ KIND, either express or implied.  See the License for the
 ~~ specific language governing permissions and limitations
 ~~ under the License.

 ~~ NOTE: For help with the syntax of this file, see:
 ~~ http://maven.apache.org/doxia/references/apt-format.html

${project.name}

  A tree-based API for resolution of Maven project dependencies.

  Component entry point is <<<{{{./apidocs/org/apache/maven/shared/dependency/graph/DependencyGraphBuilder.html}DependencyGraphBuilder}}>>>,
  which will delegate to appropriate implementation for either Maven 2, Maven 3.0.x or Maven 3.1.x.

  Older Maven 2-specific component entry point is
  <<<{{{./apidocs/org/apache/maven/shared/dependency/tree/DependencyTreeBuilder.html}DependencyTreeBuilder}}>>>,
  which is consistent with Maven 2 even when used with Maven 3, which can cause inconsistent results between resolved list (consistent
  with Maven 3) and resolved tree (consistent with Maven 2): see {{{http://jira.codehaus.org/browse/MSHARED-167}MSHARED-167}}.
