 -----
 Introduction
 -----
 Brett Porter
 -----
 2013-07-24
 -----

${project.name}

  Utilities that help identify the contents of a JAR, including Java class analysis and Maven metadata analysis.

* Using the Utilities

  Instructions on how to use the utilities can be found in the {{{apidocs/index.html} Javadoc Overview}}.
