<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <display-name>Maven User Management</display-name>

  <context-param>
    <param-name>extremecomponentsPreferencesLocation</param-name>
    <param-value>/extremecomponents.properties</param-value>
  </context-param>

  <context-param>
    <param-name>extremecomponentsMessagesLocation</param-name>
    <param-value>localization/MavenUser</param-value>
  </context-param>

  <filter>
    <filter-name>webwork-cleanup</filter-name>
    <filter-class>com.opensymphony.webwork.dispatcher.ActionContextCleanUp</filter-class>
  </filter>

  <filter>
    <filter-name>webwork</filter-name>
    <filter-class>com.opensymphony.webwork.dispatcher.FilterDispatcher</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>webwork-cleanup</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>webwork</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.codehaus.plexus.xwork.PlexusLifecycleListener</listener-class>
  </listener>

  <!-- [jspc-maven-plugin:post-compiled-jsps-as-servlets] -->

  <welcome-file-list>
    <welcome-file>index.action</welcome-file>
  </welcome-file-list>

  <taglib>
    <taglib-uri>/tld/extremecomponents</taglib-uri>
    <taglib-location>/WEB-INF/extremecomponents.tld</taglib-location>
  </taglib>
  
</web-app>
